---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 12pt;
    background-color: white;
    color: black;
}
h1, h2, h3 {
    font-family: 'Barlow Condensed';
}
h1 {
    font-weight: 500;
    font-size: 20pt;
    color: #491705;
}
h2 {
    font-weight: 400;
    font-size: 15pt;
}
h3 {
    font-weight: 300;
    font-size: 13pt;
    color: #666666;
}
.hash {
    font-family: 'Barlow Condensed';
    font-weight: 300;
    color: #491705;
}
footer {
    font-size: 92%;
    font-weight: 300;
    color: #666666;
    font-style: italic;
}
a { color: #914f37 }
a:hover {
    font-weight: inherit;
    color: #491705;
    border-bottom: solid 1px #914f37;
}
a:visited { color: #914f37 }

