<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="assets/css/style.css">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" type="image/x-icon" href="assets/favicon.png"?>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="./">Canonical Quoted Text</a></h1>
        <p>an algorithm for putting text in a standard form before hashing or signing</p>

      </header>
      <section>
        <script src="cqt.js"></script>
        <textarea id="input" rows="10" cols="80" placeholder="Enter text to canonicalize"></textarea><br>
        <button onclick="algorithm_1_14('hello')">Canonicalize</button><br>
        <textarea id="output" rows="10" cols="80" placeholder="Canonicalized text will appear here"></textarea>
      </section>
      <footer>
Content copyrighted with a <a href="https://creativecommons.org/licenses/by/4.0/deed.en">CC BY 4.0 license</a>.
Code samples are distributed under an [Apache 2 license](https://github.com/dhh1128/canonical-quoted-text/blob/main/LICENSE).
A version history for each item is maintained in <a href="https://github.com/dhh1128/canonical-quoted-text">GitHub</a>.
<a href="https://github.com/dhh1128/canonical-quoted-text/issues/new">Reports of errata</a> are welcome.
      </footer>
    </div>
  </body>
</html>